.form{
margin-left:550px;
color:white;
margin-top:250px;
}
#exampleInputEmail1{
height:35px;
width:250px;
border-radius:8px;
}
#exampleInputPassword1{
margin-top:6px;
height:35px;
width:250px;
border-radius:8px;
}
.form-check{
margin-top:12px;
color:white;

}
.btn-primary{
height:35px;
width:250px;
border-radius:8px;
color:white;
}
.facebook{
margin-top:12px;
height:35px;
width:250px;
margin-left:555px;
border-radius:50px;
}
.account{
color:white;
margin-left:556px;
margin-top:12px;
font-size:18px;
}

.reset{
color:white;
text-decoration:none;
margin-left:580px;
}