body{
background-color:skyblue;
}

.image{
height:150px;
width:650px;
padding-left:350px;
border-radius:18px;
}

.time{
margin-left:350px;
padding-left:50px;
height:160px;
width:600px;
border-radius:18px;
background-color: white;
border:2px solid rgba(255,255,255,.2);
border-radius: 8px;
text-align:left;
}
.name{
margin-left:350px;
height:150px;
width:600px;
padding-left:50px;
border-radius:18px;
background-color: white;
border:2px solid rgba(255,255,255,.2);
border-radius: 8px;
text-align:left;
}
.name2{
border:none;
}
.email{
 margin-left:350px;
 height:150px;
 width:600px;
 padding-left:50px;
 border-radius:18px;
 background-color: white;
 border:2px solid rgba(255,255,255,.2);
 border-radius: 8px;
 text-align:left;
 }
 .email2{
 border:none;
 }
 .phone{
  margin-left:350px;
  height:150px;
  width:600px;
  padding-left:50px;
  border-radius:18px;
  background-color: white;
  border:2px solid rgba(255,255,255,.2);
  border-radius: 8px;
  text-align:left;
  }
  .mobile{
  border:none;
  }
  .check{
    margin-left:350px;
    height:150px;
    width:600px;
    padding-left:50px;
    border-radius:18px;
    background-color: white;
    border:2px solid rgba(255,255,255,.2);
    border-radius: 8px;
    text-align:left;
    }
    .radio{
        margin-left:350px;
        height:150px;
        width:600px;
        padding-left:50px;
        border-radius:18px;
        background-color: white;
        border:2px solid rgba(255,255,255,.2);
        border-radius: 8px;
        text-align:left;
        }
        .option{
                margin-left:350px;
                height:150px;
                width:600px;
                padding-left:50px;
                border-radius:18px;
                background-color: white;
                border:2px solid rgba(255,255,255,.2);
                border-radius: 8px;
                text-align:left;
                }
                .address{
                margin-left:350px;
                height:150px;
                width:500px;
                padding-left: 150px;
                border-radius:18px;
                background-color: white;
                border:2px solid rgba(255,255,255,.2);
                border-radius: 8px;
                text-align:left;
                }
                .ok{
                margin-left:350px;
                height:150px;
                width:600px;
                border-radius:8px;
                }
               #button{
               background-color:lightblue;
               border:none;
               width:100px;
                height:50px;
               }