.form{
background-color:black;
border-radius:25px;
margin-top:223px;
width:550px;
height:350px;
margin-left:250px;
}
.name{
color:white;
padding-top:42px;
margin-left:122px;

}
.email{
color:white;
padding-top:12px;
margin-left:122px;
}
.password{
color:white;
padding-top:12px;
margin-left:122px;
}
.age{
color:white;
padding-top:12px;
margin-left:122px;

}
.mobile{
color:white;
padding-top:12px;
margin-left:122px;
}
.submit{
padding-top:12px;
margin-left:152px;
width:150px;
text-align:center;
align-items:center;
border-radius:15px;

}